<%- include('../partials/header', { title: 'Home Page' }) %>

<main>
  <p>Test</p>
  <button class="btn btn-primary">Test Button</button>


</script>
</main>



<%- include('../partials/footer') %>     

