<%- include('partials/header', { title: 'Home Page' }) %>

<main>
  <p>Welcome to our homepage! </p>
  <button class="btn btn-primary">Test Button</button>
</main>



<%- include('partials/footer') %>

